@import "../../style.scss";

.home {
    @include themify($themes) {
        height: calc(100vh - 70px);
        padding: 20px 70px;
        background: themed("bgSoft");
        color: themed("textColor");

        @include mobile {
            padding: 10px;
        }

        @include tablet {
            padding: 20px;
        }
    }


}